body {
    background-image: url(SKY.jpg);
    background-size: 14000px;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#cityName {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 400px;
    height: 10px;
    color: black;
}

#button {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 20px;
    width: 130px;
    height: 50px;
    margin-left: 150px;
    color: black;
}

#result {
    font-size: 50px;
}

#current {
    /* background-image: url(raining.gif); */
    size: 20px;
}

.weatherCard {
    /* background-image: url(raining.gif);
    background-image:; */
    border: 5px solid black;
    margin-top: -10px;
    border-radius: 30px;
    height: 415px;
}

.weatherCard1 {
    margin-top: -400px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: smaller;
}

#forecast {
    display: flex;
}

#forecast>div {
    size: -20px;
    width: 190px;
    margin: 15px;
    padding: 50px;
    margin-top: 50px;
    height: 250px;
}

.weatherCard>#gifResult {
    margin-left: -3px;
    margin-top: -2px;
    height: 410px;
    width: 1325px;
    border-radius: 30px;
    border: 5px solid black;
    background: transparent;
}